services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.6.0
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181

  kafka:
    image: confluentinc/cp-kafka:7.6.0
    depends_on: [zookeeper]
    ports:
      - "9092:9092"
    environment:
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

  postgres:
    image: postgres:16
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: reporting
      POSTGRES_USER: reporting_user
      POSTGRES_PASSWORD: reporting_pass

  oracle:
    image: gvenzl/oracle-free:23-slim
    ports:
      - "1521:1521"
    environment:
      ORACLE_PASSWORD: oracle_pass
      APP_USER: app_user
      APP_USER_PASSWORD: app_pass